@page "/Dotes/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Editar Dote</h3>
        </div>
    </div>
</div>

@if (dote is null)
{
    <p>Cargando...</p>
}
else
{
    <DoteForm @ref="doteForm" Dote="dote" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Dote? dote;
    private DoteForm? doteForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Dote>($"api/Dotes/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("dotes");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            dote = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put($"api/Dotes/{dote.Id}", dote);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            doteForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Dotes");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("Dotes");
    }
}

