@page "/Armas/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Agregar nueva arma</h1>
            <ArmaForm  @ref="armaForm" Arma="arma" OnValidSubmit="CreateAsync" ReturnAction="Return" />
        </div>
    </div>
</div>


@code {
    private Arma arma = new Arma
        {
            Categoria = Arma.Categorias[0],
            Alcance = Arma.Alcances[0],
            Critico = Arma.Criticos[0]

        };
    private ArmaForm? armaForm;

    private async Task CreateAsync()
    {
        var responseHttp = await repository.Post("/api/Armas", arma);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        else
        {
            armaForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Armas");
        }
;
    }

    private void Return()
    {
        navigationManager.NavigateTo("Armas");
    }
}

