@page "/Clases/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Agregar nueva clase</h1>
            <ClaseForm  @ref="claseForm" Clase="clase" OnValidSubmit="CreateAsync" ReturnAction="Return" />
        </div>
    </div>
</div>


@code {
    private Clase clase = new Clase();

    private ClaseForm? claseForm;

    private async Task CreateAsync()
    {
        var responseHttp = await repository.Post("/api/Clases", clase);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        else
        {
            claseForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Clases");
        }
;
    }

    private void Return()
    {
        navigationManager.NavigateTo("Clases");
    }
}

