@page "/Clases/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Editar Clase</h3>
        </div>
    </div>
</div>

@if (clase is null)
{
    <p>Cargando...</p>
}
else
{
    <ClaseForm @ref="claseForm" Clase="clase" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Clase? clase;
    private ClaseForm? claseForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Clase>($"api/Clases/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Clases");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            clase = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put($"api/Clases/{clase.Id}", clase);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            claseForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Clases");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("Clases");
    }
}

