@page "/Clases"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-end">
            <h1>
                <a href="/clases/create">
                    <span class="oi oi-plus" style="color:#EAEAEA;font-size:0.5em"></span>
                </a>
                Clases
            </h1>
        </div>
        <div class="col-2"></div>
        <div class="col-3 text-center">
            <InputText class="form-control mt-2" @oninput="SearchOnChange" @bind-Value=searchText />
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <GenericList MyList="Clases">
                <Body>
                    <table class="table table-striped table-hover" style="color: #EAEAEA">
                        <thead>
                            <tr>
                                <th style="cursor:pointer">
                                    <p>Nombre</p>
                                </th>
                                <th style="cursor:pointer">
                                    <p>Nivel Máximo</p>
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                            </tr>
                        </thead>
                        <tbody style="color: #EAEAEA">
                            @foreach (var clase in Clases!)
                            {
                                <tr style="color: #EAEAEA; cursor:pointer;">
                                    <td>
                                        <p>@clase.Nombre</p>
                                    </td>
                                    <td>
                                        <p>@clase.NivelMaximo</p>
                                    </td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                        <a href="/Clases/edit/@clase.Id">
                                            <i class="oi oi-pencil" style="color:#EAEAEA"></i>
                                        </a>
                                        <a href="/Clases" @onclick="@(() => DeleteAsync(clase.Id))">
                                            <i class="oi oi-trash" style="color:#EAEAEA"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
                <Loading></Loading>
            </GenericList>
        </div>
    </div>
</div>


@code {
    public List<Clase>? Clases { get; set; }
    public List<Clase>? clasesOrigen { get; set; }
    bool asc = true;
    public string? searchText;
    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Clase>>("api/Clases");
        Clases = responseHttp.Response!;
        clasesOrigen = Clases;
    }

    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/clases/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }
        await OnInitializedAsync();
    }
    private async Task ShowDetail(Clase clase)
    {
        var alertConfig = new SweetAlertOptions
            {
                Title = clase.Nombre,
                Text = $"Descripcion:{clase.Descripcion}</br> Rasgos: +{clase.Rasgos}",
            };

        await sweetAlertService.FireAsync(alertConfig);
    }
    private void SortByName()
    {
        if (asc)
        {
            Clases = Clases!.OrderByDescending(clase => clase.Nombre).ToList();
            asc = false;
        }
        else
        {
            Clases = Clases!.OrderBy(clase => clase.Nombre).ToList();
            asc = true;
        }
    }
    private void SearchOnChange(ChangeEventArgs e)
    {
        searchText = e.Value!.ToString();
        UpdateClasesList();
    }
    private void UpdateClasesList() => Clases = clasesOrigen!.Where(clase => clase.Nombre.ToLower().Contains(searchText!.ToLower())).ToList();
}


