@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(0deg,  #8c001aff 0%,  #660000ff 70%);border-right:1px solid #EAEAEA">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
