@page "/Conjuros/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Editar Conjuro</h3>
        </div>
    </div>
</div>

@if (conjuro is null)
{
    <p>Cargando...</p>
}
else
{
    <ConjuroForm @ref="conjuroForm" Conjuro="conjuro" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Conjuro? conjuro;
    private ConjuroForm? conjuroForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Conjuro>($"api/Conjuros/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("conjuros");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            conjuro = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put($"api/Conjuros/{conjuro.Id}", conjuro);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            conjuroForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Conjuros");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("Conjuros");
    }
}

