@page "/Objetos-Magicos"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-end">
            <h1>
                <a href="/armas/create">
                    <span class="oi oi-plus" style="color:#EAEAEA;font-size:0.5em"></span>
                </a>
                Armas
            </h1>
        </div>
        <div class="col-2"></div>
        <div class="col-3 text-center">
            <InputText class="form-control mt-2" @oninput="SearchOnChange" @bind-Value=searchText />
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <GenericList MyList="OMs">
                <Body>
                    <table class="table table-striped table-hover" style="color: #EAEAEA">
                        <thead>
                            <tr>
                                <th style="cursor:pointer">
                                    <p>Nombre</p>
                                </th>
                                <th style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                            </tr>
                        </thead>
                        <tbody style="color: #EAEAEA">
                            @foreach (var om in OMs!)
                            {
                                <tr style="color: #EAEAEA; cursor:pointer;">
                                    <td>
                                        <p>@om.Nombre</p>
                                    </td>
                                    <td>
                                    </td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                        <a href="/Objetos-Magicos/edit/@om.Id">
                                            <i class="oi oi-pencil" style="color:#EAEAEA"></i>
                                        </a>
                                        <a href="/Objetos-Magicos" @onclick="@(() => DeleteAsync(om.Id))">
                                            <i class="oi oi-trash" style="color:#EAEAEA"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
                <Loading></Loading>
            </GenericList>
        </div>
    </div>
</div>


@code {
    public List<ObjetoMagico>? OMs { get; set; }
    public List<ObjetoMagico>? OMsOrigen { get; set; }
    bool asc = true;
    public string? searchText;
    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<ObjetoMagico>>("api/Objetos-Magicos");
        OMs = responseHttp.Response!;
        OMsOrigen = OMs;
    }

    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/Objetos-Magicos/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }
        await OnInitializedAsync();
    }
    private async Task ShowDetail(ObjetoMagico om)
    {
        var alertConfig = new SweetAlertOptions
            {
                Title = om.Nombre,
                Text = $"Descripcion:{om.Descripcion}</br> Precio: ${om.Precio}",
            };

        await sweetAlertService.FireAsync(alertConfig);
    }
    private void SortByName()
    {
        if (asc)
        {
            OMs = OMs!.OrderByDescending(om => om.Nombre).ToList();
            asc = false;
        }
        else
        {
            OMs = OMs!.OrderBy(om => om.Nombre).ToList();
            asc = true;
        }
    }
  
    private void SearchOnChange(ChangeEventArgs e)
    {
        searchText = e.Value!.ToString();
        UpdateOMsList();
    }
    private void UpdateOMsList() => OMs = OMsOrigen!.Where(om => om.Nombre.ToLower().Contains(searchText!.ToLower())).ToList();
}


